.window {
  background: alpha(@theme_bg_color, 0);
}

.window > contents > box > separator {
  background: @theme_bg_color;
}

.sidebar {
  background: alpha(@theme_bg_color, 0.9);
}

.mainbox {
  background: @theme_bg_color;
}